.container {
    background-color: var(--color-white);
    border-radius: 1px;
    bottom: var(--spacing-double);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .35);
    padding: var(--spacing-half);
    position: fixed;
    right: var(--spacing-double);
}

%button {
    font-family: var(--font-sans);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-sans-medium);
    padding: var(--spacing-third) var(--spacing-half);
    transition: all 200ms ease;
}

.acceptButton {
    @extend %button;
    background-color: var(--color-secondary);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-secondary-light);
    }
}

.denyButton {
    @extend %button;

    background-color: var(--color-light-grey);
    color: var(--color-not-black);

    &:hover {
        background-color: var(--color-lighter-grey);
    }
}
