@import 'mixins';

.container {
    padding: var(--spacing-triple) var(--spacing-single);
    width: 100%;

    @include breakpoint('medium') {
        padding: var(--spacing-triple);
    }
}

.error {
    text-align: center;
}
