@import 'mixins';

.rankItem {
    align-items: center;
    border-top: 2px solid var(--color-light-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--spacing-single) 0;

    @include breakpoint('medium') {
        flex-wrap: nowrap;
    }

    &:last-child {
        border-bottom: 2px solid var(--color-light-grey);
    }
}

.image {
    flex-grow: 1;
    margin-bottom: var(--spacing-single);

    @include breakpoint('small') {
        margin-bottom: 0;
        max-width: 200px;
    }
}

.details {
    flex-grow: 1;
    padding: 0 var(--spacing-half);
}

.name {
    font-size: var(--font-size-medium-small);
    font-weight: var(--font-weight-sans-medium);
}
