@import 'mixins';

%container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.listContainer {
    @extend %container;
}

.textInputContainer {
    @extend %container;
    margin-top: var(--spacing-double);
}

.tellUs {
    font-family: var(--font-serif);
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-single);
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;

    @include breakpoint('small') {
        flex-direction: row;

        div + div {
            margin-left: var(--spacing-single);
        }
    }
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--spacing-single);

    @include breakpoint('small') {
        flex-direction: row;
    }

    button {
        margin: var(--spacing-half) 0;

        @include breakpoint('small') {
            margin: 0 var(--spacing-half);
        }
    }
}

.errors {
    color: var(--color-red);
    font-weight: var(--font-weight-sans-medium);
    margin-top: var(--spacing-single);
    text-align: center;
}
