.container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.actions {
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-double);

    button {
        margin: 0 var(--spacing-half);
    }
}

.errors {
    color: var(--color-red);
    font-weight: var(--font-weight-sans-medium);
    margin-top: var(--spacing-single);
    text-align: center;
}
