@import 'mixins';

.container {
    align-items: center;
    border: var(--spacing-half) solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    @include breakpoint('small') {
        border-width: var(--spacing-single);
    }

    &.whiteBorder {
        border-color: var(--color-primary);

        @include breakpoint('small') {
            background-color: var(--color-primary);
            border-color: var(--color-white);
        }
    }

    &.darkGreyBorder {
        border-color: var(--color-dark-grey);
    }

    &.primaryBorder {
        border-color: var(--color-primary);
    }
}
