.container {
    align-items: center;
    border: var(--spacing-single) solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    &.whiteBorder {
        background-color: var(--color-primary);
        border-color: var(--color-white);
    }

    &.darkGreyBorder {
        border-color: var(--color-dark-grey);
    }

    &.primaryBorder {
        border-color: var(--color-primary);
    }
}
