.sectionTitle {
    background-color: var(--section-title-bg, var(--color-white));
    box-shadow: 0 0 10px 2px rgba(30, 30, 30, .15);
    color: var(--section-title-text, var(--color-not-black));
    margin-bottom: var(--spacing-double);
    padding: var(--spacing-double) var(--spacing-single) var(--spacing-two-thirds);
    text-align: center;
}
