%button {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-sans-medium);
    padding: var(--spacing-third);
    height: 34px;
    transition: all 200ms ease;
    width: 100%;
}
