@import 'mixins';

.container {
    align-items: center;
    background-color: var(--splash-screen-bg, var(--color-white));
    color: var(--splash-screen-text, var(--color-not-black));
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    a {
        color: var(--splash-screen-link, var(--color-primary));
    }
}
