@import 'mixins';

.container {
    padding: var(--spacing-triple) var(--spacing-single);

    @include breakpoint('small') {
        color: var(--color-white);
        padding: var(--spacing-triple) var(--spacing-double);
    }

    @include breakpoint('medium') {
        padding: var(--spacing-double);
    }
}
