.container {
    margin: 0 auto;
    max-width: 800px;
    padding: var(--spacing-double) var(--spacing-single);
    width: 100%;
}

.title {
    font-size: var(--font-size-large);
}

.caption {
    font-size: var(--font-size-medium);
    margin-bottom: var(--spacing-double);
}
