.button {
    background-color: var(--color-primary);
    border: 0;
    display: inline-block;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-sans-bold);
    color: var(--color-white);
    padding: var(--spacing-half) 1.25rem;
    text-decoration: none;
    transition: all 200ms ease;
    
    &:hover {
        background-color: var(--color-primary-light);
    }
}

.errors {
    color: var(--color-red);
    font-weight: var(--font-weight-sans-bold);
    margin-top: var(--spacing-half);
}
