@import 'mixins';

:global(.ReactModal__Overlay) {
    opacity: 0;
    transition: opacity 100ms ease;
}

:global(.ReactModal__Overlay--after-open) {
    opacity: 1;
}

:global(.ReactModal__Overlay--before-close) {
    opacity: 0;
}

.close {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    right: 25px;
    top: 20px;
    z-index: 10;
}

.closeButton {
    font-size: 40px;
    position: relative;
    transition: all 200ms ease;

    &:hover {
        color: var(--color-medium-grey);
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-single);

    @include breakpoint('medium') {
        flex-direction: row;
        padding: var(--spacing-single);
    }
}

.details {
    max-width: 500px;
    width: 100%;

    @include breakpoint('medium') {
        max-height: calc(100vh - 20px - var(--spacing-double));
        max-width: 200px;
        position: sticky;
        top: 0;
    }

    ul {
        list-style: disc;
        margin: var(--spacing-single) 0 var(--spacing-single)
            var(--spacing-single);
    }
}

.title {
    font-size: var(--font-size-large);
    line-height: 1.2;
    margin-bottom: var(--spacing-half);
}

.actions {
    margin-top: var(--spacing-single);
}
