@import 'mixins';

.close {
    position: absolute;
    right: 0;
    top: 0;
}

.closeButton {
    font-size: 40px;
    position: relative;
    transition: all 200ms ease;
    z-index: 10;

    &:hover {
        color: var(--color-medium-grey);
    }
}

.container {
    display: flex;
    flex-direction: column;

    @include breakpoint('medium') {
        flex-direction: row;
        padding: var(--spacing-single);
    }
}

.details {
    max-width: 500px;
    width: 100%;

    @include breakpoint('medium') {
        max-height: calc(100vh - 20px - var(--spacing-double));
        max-width: 200px;
        position: sticky;
        top: 0;
    }

    ul {
        list-style: disc;
        margin: var(--spacing-single) 0 var(--spacing-single) var(--spacing-single);
    }
}

.title {
    font-size: var(--font-size-large);
    line-height: 1.2;
    margin-bottom: var(--spacing-half);
}

.actions {
    margin-top: var(--spacing-single);
}
