@import 'mixins';

.imageGrid {
    background-color: var(--color-white);
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 3px;
    margin-top: var(--spacing-single);
    width: 100%;

    @include breakpoint('small') {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint('medium') {
        margin-top: 0;
        margin-left: var(--spacing-double);
    }
}

.imageWrapper {
    background-color: var(--color-lighter-grey);
    padding-top: 100%;
    position: relative;

    div {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;
    }

    img {
        mix-blend-mode: multiply;
    }
}
