.container {
    margin-bottom: var(--spacing-triple);
}

.listContainer {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.detailsButton {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
    padding: 0;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.error {
    text-align: center;
}
