.rankItem {
    display: flex;
}

.rank {
    color: var(--color-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-sans-bold);
    width: 25px;
}

.image {
    max-width: 200px;
}
