@import 'a11y';
@import 'mixins';

.container {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;

    @include breakpoint('large') {
        max-width: 750px;
    }

    @extend %hasLightText;
}

.title {
    font-family: var(--font-serif);
    font-size: var(--font-size-larger);
    line-height: 1.2;
    margin-bottom: var(--spacing-single);

    @include breakpoint('small') {
        text-align: center;
    }
}

.body {
    font-size: var(--font-size-medium);
    margin-bottom: var(--spacing-double);

    &.alignCenter {
        @include breakpoint('small') {
            text-align: center;
        }
    }

    &.slim {
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
    }

    p {
        margin-bottom: var(--spacing-single);
    }
}
